<td class="crud-table highlight">{{p_id}}</td>
<td class="crud-table highlight">{{product}}</td>
<td class="crud-table highlight">{{category}}</td>
<td class="crud-table highlight">{{price}}</td>
<td class="crud-table highlight">{{inventory}}</td>
