<tr>
   <th>Product</th>
   <th>Category</th>
   <th>Quantity Sold</th>
   <th>Revenue (ZAR)</th>
    <th>Cost (ZAR)</th>
    <th>Profit (ZAR)</th>
    <th>Profit Margin (%)</th>
  </tr>
</thead>
<tbody>
  {{#data}}
    <tr>
      <td class="inverse">{{product}}</td>
      <td style="background-color:{{negValRowHL profit}}">{{category}}</td>
      <td style="background-color:{{negValRowHL profit}}" class="left-indent">{{quantity}}</td>
      <td style="background-color:{{negValRowHL profit}}" class="left-indent">{{bracketNegative revenue}}</td>
      <td style="background-color:{{negValRowHL profit}}" class="left-indent">{{cost}}</td>
      <td style="background-color:{{negValRowHL profit}}" class="left-indent">{{bracketNegative profit}}</td>
      <td style="background-color:{{negValRowHL profit}}" class="left-indent">{{bracketNegative profitMargin}}</td>
    </tr>
    {{/data}}
  </tbody>
