<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery.1.12.4.min.js"></script>

    <title>Nelisa's Online Portal</title>
    <!-- <link href="/css/my.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>

    <nav class="navbar navbar-inverse">
{{#if admin}}
<div class="container-fluid">
  <div class="navbar-header nelisa-font">
    <a class="navbar-brand" href="/">Nelisa's Dashboard</a>
  </div>

  <ul class="nav navbar-nav">

    <!-- <li class="navbutton"><a href="/">about</a></li> -->
    <li class="navbutton admin-nav"><a href="/graphs">explore data</a></li>
    <li class="navbutton admin-nav"><a href="/stats">stats</a></li>
    <li class="navbutton admin-nav"><a href="/summary">summary</a></li>
    <li class="navbutton admin-nav"><a href="/suppliers">suppliers</a></li>
    <li class="navbutton admin-nav"><a href="/products">products</a></li>
    <li class="navbutton admin-nav"><a href="/categories">categories</a></li>
    <li class="navbutton admin-nav"><a href="/sales/add">add sale</a></li>
    <li class="navbutton admin-nav"><a href="/purchases/add">Add purchase</a></li>
    <li class="navbutton admin-nav"><a href="/users">users</a></li>
    <li class="navbutton admin-nav"><a href="/purchases">purchases</a></li>
    <li class="navbutton admin-nav"><a href="/sales">sales</a></li>
    <!-- <li class="navbutton"><a href="/">categories</a></li> -->

  </ul>
  <div class="loggedInAs">
  <div class="user" id="admin">{{user}}</div>

  <div class="caratA"></div>
  <div class="caratB"></div>

  </div>
  <div id="popup">
    <b>Logged in as admin<br> <span>{{user}}</span></b>
    <a  href="/logout"><button id="signOut">Sign out</button></a>
  </div>
{{else if user}}
<div class="container-fluid">
  <div class="navbar-header nelisa-font">
    <a class="navbar-brand" href="/">Nelisa's Spaza</a>
  </div>

  <ul class="nav navbar-nav">

    <li class="navbutton"><a href="/products">Our Products</a></li>
    <li class="navbutton"><a href="/about">about</a></li>


  </ul>
  <div class="loggedInAs">
  <div class="user" id="user">{{user}}</div>
  <!-- <div id="downarrow">&nbsp;</div> -->
  <div class="caratA"></div>
  <div class="caratB"></div>
  </div>
  <div id="popup">
    <b>Logged in as user <br> <span>{{user}}</span></b>
    <a  href="/logout"><button id="signOut">Sign out</button></a>
{{else}}

        <div class="container-fluid">
            <div class="navbar-header nelisa-font">
                <a class="navbar-brand" href="/">Nelisa's Spaza</a>
            </div>

            <ul class="nav navbar-nav">

                <li class="navbutton"><a href="/products">Our Products</a></li>
                <li class="navbutton"><a href="/about">about</a></li>
                <!-- <li class="navbutton admin-nav"><a href="/graphs">explore data</a></li> -->

            </ul>
            <div id="logUp">
            <a href="/signup">
                <div class="signupButton" id="signup-button">Sign Up</div>
            </a>
            <a href="/login">
                <div class="loginbutton" id="login-button">Login</div>
            </a>
            </div>
        </div>
        {{/if}}
    </nav>


    {{{body}}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
