<div class="overlay"></div>

<center>
<div id="execute-success" class="alert-box">
<h3>SUCCESS</h3>
<p>purchase successfully executed</p>
<button class="btn btn-success" id="execute-success-ok">OK</button>
</div>
</center>

<h3 class="title">Add Purchase</h3>
<form class="form-inline" action="/" method="post">

<center>
<fieldset>

  <label class="add-form-text control-label" for="suppliers">Supplier</label>
  <select class="form-control" id="suppliers" name="product">
    <option class="add-form-text" value="" selected>Please select a supplier</option>
    {{#suppliers}}
    <option class="add-form-text" value="{{id}}">{{name}}</option>
    {{/suppliers}}
  </select>
<div class="form-group">
  <label class="add-form-text control-label" for="products">Product</label>
  <select class="form-control" id="products" name="product">
    <option class="add-form-text" id="no-supplier" value="" selected>Please select a product</option>
    {{#products}}
    <option class="add-form-text" value="{{id}}" data-price="{{price}}" data-inventory="{{inventory}}" data-description="{{description}}" data-category="{{category_id}}">{{description}}</option>
    {{/products}}
  </select>
</div>
<div class="form-group">
<label class="add-form-text control-label" for="cost">Unit Cost</label>
<input class="form-control" type="number" step="any" name='cost' id="cost">
</div>
<div class="form-group">
<label class="add-form-text control-label" for="quantity">Quantity</label>
<input class="form-control" type="number" name="quantity" id="quantity">
</div>
</fieldset>

<button class="btn btn-danger" type="submit" id="execute-purchase">Add purchase</button>
</center>
</form>
