<div class="overlay"></div>

<center>
<div id="execute-success" class="alert-box">
<h3>SUCCESS</h3>
<p>purchase successfully executed</p>
<button id="execute-success-ok">OK</button>
</div>
</center>

<h1>execute purchase</h1>
<button id="add-item">add item</button>

<form action="/" method="post">

<center>
<fieldset>

  <label for="suppliers">Supplier</label>
  <select id="suppliers" name="product">
    <option value="" selected>Please select a supplier</option>
    {{#suppliers}}
    <option value="{{id}}">{{name}}</option>
    {{/suppliers}}
  </select>

  <label for="products">Product</label>
  <select id="products" name="product">
    <option id="no-supplier" value="" selected>Please select a product</option>
    {{#products}}
    <option value="{{id}}" data-price="{{price}}" data-inventory="{{inventory}}" data-description="{{description}}" data-category="{{category_id}}">{{description}}</option>
    {{/products}}
  </select>

<label for="cost">Unit Cost</label>
<input type="number" step="any" name='cost' id="cost">

<label for="quantity">Quantity</label>
<input type="number" name="quantity" id="quantity">

</fieldset>
</center>
<center>
<table id="added-items-purchases-table" class="myTables">
  <thead style="display:none">
    <tr>
      <th>Supplier</th>
      <th>Product</th>
      <th>Unit Cost</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody style="display:none">
  </tbody>
  <p id="no-items-text">You'll need to add some items before attempting to execute a purchase.</p>
</table>
</center>

<input type="submit" id="execute-purchase" value="execute purchase">

</form>
