<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->

<script src="/js/jquery-ui.js"></script>
<script src="/js/searchAndSelect.js"></script>


<div class="overlay"></div>
<center>
<div id="execute-alert" class="alert-box">
  <h3>ALERT</h3>
    <p>You're attempting to sell some items for which there is no stock.</p>
    <table id="alert-table" class="table table-bordered table-hover table-sm center-table summary-table">
    <thead class="thead-inverse">
        <tr>
          <th>Product</th>
          <th>Stock Available</th>
          <th>Sale Quantity</th>
          <th>Can't Sell</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
<button id="execute-alert-ok">OK</button>
</div>

<div id="execute-success" class="alert-box">
<h3>SUCCESS</h3>
<p>Sale successfully executed</p>
<button id="execute-success-ok">OK</button>
</div>
</center>


<h3 class="title">Add Sale</h3>

<div class="container add-select-container">
  <div class="row db-table" id="labels">
    <div class="col-md-6">
      <label class="add-form-text" for="products">Product</label>
    </div>
    <div class="col-md-2">
      <label class="add-form-text control-label" for="price">Price</label>
    </div>
    <div class="col-md-2">
      <label class="add-form-text control-label" for="quantity">Quantity</label>
    </div>
    <div class="col-md-2">

    </div>
  </div>

  <div class="row" id="inputs">
    <div class="col-md-6 ui-widget">
      <select class="form-control" id="combobox" name="product">
        <option class="add-form-text" value="" selected>Please select a product</option>
        {{#products}}
        <option class="add-form-text" value="{{p_id}}" data-price="{{price}}" data-inventory="{{inventory}}" data-description="{{product}}" data-categoryId="{{c_id}}" data-category="{{category}}">{{product}}</option>
        {{/products}}
      </select>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" step="any" name='price' id="price">
    </div>
    <div class="col-md-2">
      <input class="form-control" type="number" name="quantity" id="quantity">
    </div>
    <div class="col-md-2">
      <div class="btn btn-success" role="button" id="add-item">add item</div>
    </div>
  </div>
</div>

  <button class="btn btn-danger" type="submit" id="execute-sale">Add sale</button>

<center>
<table id="added-items-table" class="table table-bordered table-hover table-sm center-table">
  <thead class="thead-inverse" style="display:none">
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub-Total</th>
    </tr>
  </thead>
  <tbody style="display:none">
  </tbody>
  <p class="add-form-message-text" id="no-items-text">Please add some items before attempting to execute a sale.</p>
</table>
</center>
