<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->

<script src="/js/jquery-ui.js"></script>

<script src="/js/searchAndSelect.js"></script>


<div class="overlay"></div>
<center>

<div id="execute-alert" class="add-item-alert-box">
<div class="alert-header-container">
  INVALID REQUEST
</div>
    <p class='alert-box-message'></p>
    <!-- <table id="alert-table" class="table table-bordered table-hover table-sm center-table summary-table">
    <thead class="thead-inverse">
        <tr>
          <th>Product</th>
          <th>Stock Available</th>
          <th>Sale Quantity</th>
          <th>Can't Sell</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table> -->
<button class="btn btn-success alert-ok">OK</button>
</div>

<div id="execute-success" class="alert-box">
<h3>SUCCESS</h3>
<p>Sale successfully executed</p>
<button id="execute-success-ok">OK</button>
</div>
</center>


<h3 class="title">Add Sale</h3>


<div class="container add-select-container center">
  <div class="row db-table" id="labels">
    <div class="form-element-add col-md-2"></div>
    <div class="form-element-add col-md-3  widget-shift">
      <label class="add-form-text" for="products">Product</label>
    </div>
    <div class="form-element-add col-md-1">
      <label class="add-form-text control-label" for="price">Price</label>
    </div>
    <div class="form-element-add col-md-1">
      <label class="add-form-text control-label" for="quantity">Quantity</label>
    </div>
    <div class="form-element-add col-md-1 empty-column">
    </div>
    <div class="form-element-add col-md-2 empty-column">
    </div>
    <div class="form-element-add col-md-2 empty-column"></div>

  </div>

  <div class="row" id="inputs">
    <div class="form-element-add col-md-2"></div>

    <div class="form-element-add col-md-3 ui-widget widget-shift">
      <select class="form-control" id="combobox" name="product">
        <option class="add-form-text" value="" selected>Please select a product</option>
        {{#products}}
        <option class="add-form-text" value="{{p_id}}" data-price="{{price}}" data-inventory="{{inventory}}" data-description="{{product}}" data-categoryId="{{c_id}}" data-category="{{category}}">{{product}}</option>
        {{/products}}
      </select>
    </div>
    <div class="form-element-add col-md-1">
      <input class="form-control" type="number" step="any" name='price' id="price">
    </div>
    <div class="form-element-add col-md-1">
      <input class="form-control" type="number" name="quantity" id="quantity">
    </div>
    <div class="form-element-add col-md-1">
      <div class="btn btn-success" role="button" id="add-item">add item</div>
    </div>
    <div class="form-element-add col-md-2">
      <button class="btn btn-danger" disabled type="submit" id="execute-sale">Add sale</button>
    </div>
    <div class="form-element-add col-md-2"></div>

  </div>
</div>

<center>
<table id="added-items-table" class="table table-bordered table-hover table-sm center-table">
  <thead class="thead-inverse" style="display:none">
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub-Total</th>
    </tr>
  </thead>
  <tbody style="display:none">
  </tbody>
  <p class="add-form-message-text" id="no-items-text">Please add some items before attempting to execute a sale.</p>
</table>
</center>
<script>
jQuery.ui.autocomplete.prototype._resizeMenu = function () {
  var ul = this.menu.element;
  ul.outerWidth(this.element.outerWidth());
}
</script>
