<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spaza - {{title}}</title>
</head>
<body class = "body-tpage">
  <div id="title">
      <h1>{{title}}</h1>
</div>
<div class="text-center periodbuttons">

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">February</button>
  </div>

  <div class="btn-group" role="group" aria-label="...">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Week 1
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/summary/product/1">Products</a></li>
        <li><a href="/summary/category/1">Categories</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Week 2
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/summary/product/2">Products</a></li>
        <li><a href="/summary/category/2">Categories</a></li>
      </ul>
    </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Week 3
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/summary/product/3">Products</a></li>
      <li><a href="/summary/category/3">Categories</a></li>
    </ul>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Week 4
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/summary/product/4">Products</a></li>
      <li><a href="/summary/category/4">Categories</a></li>
    </ul>
  </div>

</div>

</div>
<div class = "divider1"></div>
  <table class="table table-bordered table-hover table-sm center-table">
    <thead class="thead-inverse">
    <!-- <tr> <th colspan="6"> My First HandleBars Table </th> </tr> -->
    <tr> <th>Category</th> <th>Quantity Sold</th> <th>Inventory</th> <th>Profit</th> <th>Profit Margin</th> </tr>
  </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td class="inverse">{{category}}</td> <td class="left-indent">{{quantity}}</td> <td class="left-indent">{{inventory}}</td> <td class="left-indent">R{{profit}}</td> <td class="left-indent">{{profitMargin}}%</td>
        </tr>
        {{/each}}
      </tbody>

  </table>
</body>
</html>
