<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spaza - {{title}}</title>
</head>
<body>
  <div id="title">
      <h1>{{title}}</h1>
      </div>
      <div class="text-center periodbuttons">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">February</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <a href="/stats/m&l/1" type="button" class="btn btn-default">1</a>
          <a href="/stats/m&l/2" type="button" class="btn btn-default">2</a>
          <a href="/stats/m&l/3" type="button" class="btn btn-default">3</a>
          <a href="/stats/m&l/4" type="button" class="btn btn-default">4</a>
        </div>
      </div>
      <div class="divider1"></div>
  <table class="table table-bordered table-hover center-table">
    <!-- <tr> <th colspan="6"> My First HandleBars Table </th> </tr> -->
      <thead class="thead-inverse">
    <tr> <th>Trend</th> <th>Product/Category</th> <th>Quantity Sold</th> <th>Inventory</th> <th>Profit</th> <th>Profit Margin</th> </tr>
  </thead>
<tbody>
      {{#each data}}
        <tr>
          <td class="inverse">{{what}}</td> <td class="active">{{item}}</td> <td class="left-indent active">{{quantity}}</td> <td class="left-indent active">{{inventory}}</td> <td class="left-indent active">{{profit}}</td> <td class="left-indent active">{{profitMargin}}%</td>
        </tr>
        {{/each}}
          </tbody>

  </table>
</body>
</html>
