<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spaza - {{title}}</title>
</head>
<body>
  <div id="title">
      <h1>{{title}}</h1>
      </div>
      <div class="divider1"></div>
  <table class="table table-bordered table-hover center-table">
    <!-- <tr> <th colspan="6"> My First HandleBars Table </th> </tr> -->
      <thead class="thead-inverse">
    <tr> <th>Trend</th> <th>Product/Category</th> <th>Quantity Sold</th> <th>Remaining Inventory</th> <th>Profit</th> <th>Profit Margin</th> </tr>
  </thead>
<tbody>
      {{#each data}}
        <tr>
          <td class="inverse">{{what}}</td> <td class="active">{{item}}</td> <td class="left-indent active">{{quantity}}</td> <td class="left-indent active">{{inventory}}</td> <td class="left-indent active">{{profit}}</td> <td class="left-indent active">{{profitMargin}}%</td>
        </tr>
        {{/each}}
          </tbody>

  </table>
</body>
</html>
