<h1>Products</h1>

<a href="/products/add"><div class="add-link">Add</div></a>

<table class="center-table">
  <thead>
  <tr>
    <th>Product ID</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody >
  {{#products}}
  <tr>
    <td class="crud-table highlight">{{p_id}}</td>
    <td class="crud-table highlight">{{product}}</td>
    <td class="crud-table highlight">{{category}}</td>
    <td class="crud-table highlight">{{price}}</td>
    <td class="crud-table highlight"><a href="/products/edit/{{p_id}}"><div class="links edit">Edit</div></a></td>
    <td class="crud-table highlight"><a href="/products/delete/{{p_id}}"><div class="links delete">Delete</div></a></td>
  </tr>
  {{/products}}
</tbody>
</table>
  {{#no_products}}
    <p>You have no products. Please add one above.</p>
  {{/no_products}}
