{{#products}}
<tr>
  <td class="crud-table highlight">{{p_id}}</td>
  <td class="crud-table highlight">{{product}}</td>
  <td class="crud-table highlight">{{category}}</td>
  <td class="crud-table highlight">{{price}}</td>
  <td class="crud-table highlight">{{inventory}}</td>
  {{#if ../admin}}
  <td class="crud-table highlight"><a href="/products/edit/{{p_id}}"><div class="links edit">Edit</div></a></td>
  <td class="crud-table highlight"><a href="/products/delete/{{p_id}}"><div class="links delete">Delete</div></a></td>
  {{/if}}

</tr>
{{/products}}
