<h1>Products</h1>
<form class="form-inline" action="/products/search" method="post">
  <div class="row center-table">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default button-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
<input type="text" name="search" class="form-control" id="search" placeholder="Search for products by name or category">
</div>


<label for="searchBy">Search By</label>
<select name="searchBy" id="searchBy" class="form-control">
  <option value="all">Name & Category</option>
  <option value="product">Product Name</option>
  <option value="category">Category</option>
</select>
</div>
</div>
</form>

{{#if admin}}
<a href="/products/add"><div class="add-link">Add</div></a>
{{/if}}
<table class="table table-bordered table-hover table-sm center-table" id="products-table">
  <thead class="thead-inverse">
  <tr>
    {{#if admin}}
    <th>Product ID</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Inventory</th>
    {{else}}
    <th>Product ID</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Stock Available</th>
    {{/if}}
  </tr>
  </thead>
  <tbody id="searchResults">

  {{#products}}
  <tr>
    <td class="crud-table highlight">{{p_id}}</td>
    <td class="crud-table highlight">{{product}}</td>
    <td class="crud-table highlight">{{category}}</td>
    <td class="crud-table highlight">{{price}}</td>
    <td class="crud-table highlight">{{inventory}}</td>
    {{#if ../admin}}
    <td class="crud-table highlight"><a href="/products/edit/{{p_id}}"><div class="links edit">Edit</div></a></td>
    <td class="crud-table highlight"><a href="/products/delete/{{p_id}}"><div class="links delete">Delete</div></a></td>
    {{/if}}

  </tr>
  {{/products}}

</tbody>
</table>
  {{#no_products}}
    <p>You have no products. Please add one above.</p>
  {{/no_products}}

<script src="/js/search.js"></script>
