<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spaza - {{title}}</title>
</head>
<body class = "body-tpage">
  <div id="title">
      <h1>summary by product</h1>
      <h2>{{period}}</h2>
</div>
<div class="text-center periodbuttons">

  <div class="text-center periodbuttons">

    <form action="/summary/table" method="POST">

      <select class="" name="type">
        {{#types}}
        <option value='{{type}}' {{selected}}>{{capFL type}}</option>
        {{/types}}
        </select>

      <select class="" name="month">
        {{#months}}
        <option value={{month}} {{selected}}>{{month}}</option>
        {{/months}}
      </select>

      <select class="" name="week">
        {{#weeks}}
        <option value={{week}} {{selected}}>{{week}}</option>
        {{/weeks}}
      </select>


      <button type="submit" class="btn btn-default">GO</button>
    </form>

  </div>

</div>
<div class = "divider1"></div>
  <table class="table table-bordered table-hover table-sm center-table">
  <thead class="thead-inverse">
    <!-- <tr> <th colspan="6"> My First HandleBars Table </th> </tr> -->
    <tr> <th>Product</th> <th>Category</th> <th>Quantity Sold</th> <th>Revenue</th> <th>Cost</th> <th>Profit</th> <th>Profit Margin</th>  </tr>
  </thead>
  <tbody>
      {{#each data}}
        <tr>
          <td class="inverse">{{product}}</td> <td>{{category}}</td> <td class="left-indent">{{quantity}}</td> <td class="left-indent">{{revenue}}</td> <td class="left-indent">{{cost}}</td> <td class="left-indent">{{profit}}</td> <td class="left-indent">{{profitMargin}}</td>
        </tr>
        {{/each}}
      </tbody>

  </table>
</body>
</html>
