<h3>Purchases</h3>
<form action="/purchases/search" method="post">
<input type="text" name="search" id="search" placeholder="Search a purchase by product or category">
<label for="searchBy">Search By</label>
<select name="searchBy" id="searchBy">
  <option value="all">Product & Category</option>
  <option value="product">Product</option>
  <option value="category">Category</option>
</select>
<button type="submit" id="search-submit">Search</button>
</form>
<table class="table table-bordered table-hover table-sm center-table" id="purchases-table">
  <thead class="thead-inverse">
    <tr>
    <th>id</th>
    <th>date</th>
    <th>supplier</th>
    <th>product</th>
    <th>category</th>
    <th>quantity</th>
    <th>remaining</th>
    <th>unitcost</th>
    </tr>
  </thead>
  <tbody id='searchResults'>
    {{#purchases}}
    <tr>
      <td>{{id}}</td>
      <td>{{date}}</td>
      <td>{{supplier}}</td>
      <td>{{product}}</td>
      <td>{{category}}</td>
      <td>{{quantity}}</td>
      <td>{{remaining}}</td>
      <td>{{unitcost}}</td>
    </tr>
    {{/purchases}}
  </tbody>
</table>
<script src="/js/search.js"></script>
