{{#purchases}}
<tr>
  <td>{{id}}</td>
  <td>{{date}}</td>
  <td>{{supplier}}</td>
  <td>{{product}}</td>
  <td>{{category}}</td>
  <td>{{quantity}}</td>
  <td>{{remaining}}</td>
  <td>{{unitcost}}</td>
</tr>
{{/purchases}}
