<div id="loggedInAs">Logged in as {{user}}</div>
</div>
</nav>

<div class="overlay"></div>
<center>
<div id="execute-alert" class="alert-box">
  <h3>ALERT</h3>
    <p>You're attempting to sell some items for which there is no stock.</p>
    <table id="alert-table" class="myTables">
      <thead>
        <tr>
          <th>Product</th>
          <th>Stock Available</th>
          <th>Sale Quantity</th>
          <th>Can't Sell</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
<button id="execute-alert-ok">OK</button>
</div>

<div id="execute-success" class="alert-box">
<h3>SUCCESS</h3>
<p>Sale successfully executed</p>
<button id="execute-success-ok">OK</button>
</div>
</center>

<h1>execute sale</h1>
<button id="add-item">add item</button>

<form action="/" method="post">

<center>
<fieldset>

  <label for="products">Product</label>
  <select id="products" name="product">
    <option value="" selected>Please select a product</option>
    {{#products}}
    <option value="{{id}}" data-price="{{price}}" data-inventory="{{inventory}}" data-description="{{description}}" data-category="{{category_id}}">{{description}}</option>
    {{/products}}
  </select>

  <label for="categories">Category</label>
  <select id="categories" name="category">
    <option value="" selected>Please choose a product</option>
    {{#categories}}
    <option value="{{id}}" data-description="{{description}}">{{description}}</option>
    {{/categories}}
  </select>

<label for="price">Price</label>
<input type="number" step="any" name='price' id="price">

<label for="quantity">Quantity</label>
<input type="number" name="quantity" id="quantity">

</fieldset>
</center>
<center>
<table id="added-items" class="myTables">
  <thead style="display:none">
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub-Total</th>
    </tr>
  </thead>
  <tbody style="display:none">
  </tbody>
  <p id="no-items-text">Please add some items before attempting to execute a sale.</p>
</table>
</center>

<input type="submit" id="execute-sale" value="execute sale">

</form>
