{{#sales}}
<tr>
  <td>{{date}}</td>
  <td>{{sale_id}}</td>
  <td>{{product}}</td>
  <td>{{category}}</td>
  <td>{{quantity}}</td>
  <td>{{cost}}</td>
  <td>{{revenue}}</td>
  <td>{{profit}}</td>
  <td>{{profitMargin}}</td>
</tr>
{{/sales}}
