<h3>sales</h3>
<form action="/sales/search" method="post">
<input type="text" name="search" id="search" placeholder="Search a sale by product">
<label for="searchBy">Search By</label>
<select name="searchBy" id="searchBy">
  <option value="all">Product & Category</option>
  <option value="product">Product</option>
  <option value="category">Category</option>
</select>
<button type="submit" id="search-submit">Search</button>
</form>
<!-- <table class="myTables"> -->
  <table class="table table-bordered table-hover table-sm center-table summary-table">
  <thead class="thead-inverse">
    <tr>
    <th>date</th>
    <th>sale ID</th>
    <th>product</th>
    <th>category</th>
    <th>quantity</th>
    <th>cost</th>
    <th>revenue</th>
    <th>profit</th>
    <th>profitMargin</th>
    </tr>
  </thead>
  <tbody id='searchResults'>
    {{#sales}}
    <tr>
      <td>{{date}}</td>
      <td>{{sale_id}}</td>
      <td>{{product}}</td>
      <td>{{category}}</td>
      <td>{{quantity}}</td>
      <td>{{cost}}</td>
      <td>{{revenue}}</td>
      <td>{{profit}}</td>
      <td>{{profitMargin}}</td>
    </tr>
    {{/sales}}
  </tbody>
</table>
<script src="/js/search.js"></script>
