<center>
<h3 class="title">Sales</h3>
<div class="center">

<form class="form-inline" action="/sales/search" method="post">
  <div class="row center-table">
  <div class="col-md-12">
    <div class="input-group search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default button-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
<input class="form-control" type="text" name="search" id="search" placeholder="Search a sale by product or category">
</div>

<div class="search-selection search">
<select class="form-control" name="searchBy" id="searchBy">
  <option value="all">Product & Category</option>
  <option value="product">Product</option>
  <option value="category">Category</option>
</select>
</div>
</div>
</div>
</form>
</div>
</center>
<!-- <table class="myTables"> -->
  <table class="table table-bordered table-hover table-sm center-table summary-table">
  <thead class="thead-inverse">
    <tr>
    <th>date</th>
    <th>sale ID</th>
    <th>product</th>
    <th>category</th>
    <th>quantity</th>
    <th>cost</th>
    <th>revenue</th>
    <th>profit</th>
    <th>profitMargin</th>
    </tr>
  </thead>
  <tbody id='searchResults'>
    {{#sales}}
    <tr>
      <td>{{date}}</td>
      <td>{{sale_id}}</td>
      <td>{{product}}</td>
      <td>{{category}}</td>
      <td>{{quantity}}</td>
      <td>{{cost}}</td>
      <td>{{revenue}}</td>
      <td>{{profit}}</td>
      <td>{{profitMargin}}</td>
    </tr>
    {{/sales}}
  </tbody>
</table>
<script src="/js/search.js"></script>
