<h1>USERS</h1>

<center>
<table class="myTables">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Role</th>
      <th>Admin Role</th>
      <th>Date Added</th>
      <th>Last Login</th>
    </tr>
  </thead>
  <tbody>
    {{#users}}
    <tr>
    <td>{{id}}</td>
    <td>{{username}}</td>
    <td>{{role}}</td>
    <td>{{admin_role}}</td>
    <td>{{dateAdded}}</td>
    <td>{{lastLogin}}</td>
    <td class="crud-table highlight">
    <form action="/users/edit" method="post">
      <input type="hidden" name="id" value="{{id}}">
      <input type="hidden" name="username" value="{{username}}">
      <input type="hidden" name="role" value="{{role}}">
      <input type="hidden" name="admin" value="{{admin_role}}">
    <button type="submit">Edit</button>
    </form>
    </td>
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="role" value="{{role}}">
    <input type="hidden" name="admin" value="{{admin_role}}">
    <td class="crud-table highlight">
<form action="/users/delete" method="post">
  <input type="hidden" name="id" value="{{id}}">
  <input type="hidden" name="username" value="{{username}}">
  <button type="submit">Delete</button>
</form>
  </td>
  </tr>
    {{/users}}
  </tbody>
</table>
</center>
