<h3 class="title">Users</h3>

<center>
  {{#alert}}
  <h4 style="color:red;"><b>{{message}}</b></h4>
  {{/alert}}

  <table class="table table-bordered table-hover table-sm center-table" id="users-table">
    <thead class="thead-inverse">
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Role</th>
      <th>Admin Role</th>
      <th>Date Added</th>
      <th>Last Login</th>
      <th class="link-header" colspan="2"><a class="table-links" href="/users/add">Add user</a></th>
    </tr>
  </thead>
  <tbody>
    {{#users}}
    <tr>
    <td>{{id}}</td>
    <td>{{username}}</td>
    <td>{{role}}</td>
    <td>{{admin_role}}</td>
    <td>{{dateAdded}}</td>
    <td>{{lastLogin}}</td>
    <td class="crud-table highlight link-cell"><a class="table-links" href="/users/edit/{{id}}">Edit</a></td>
    <td class="crud-table highlight link-cell">
<form action="/users/delete" method="post">
  <input type="hidden" name="id" value="{{id}}">
  <input type="hidden" name="username" value="{{username}}">
  <input type="hidden" name="role" value="{{role}}">
  <input type="hidden" name="adminRole" value="{{admin_role}}">
  <button class="table-links" type="submit" style="background-color:#333;border:none">Delete</button>
</form>
  </td>
  </tr>
    {{/users}}
  </tbody>
</table>
</center>
